<div class="container-fluid" style="margin-top: 2%;">
  <div>
    <h5 style="text-align:center">METAL PLATING SERVICES</h5>
  <p style="text-align:center">
    You can count on us for a vast array of metal plating services, including gold and silver plating and much more.
  </p>
  </div>
  
  <div>
    <h6 style="text-align:center">
      Some of our services include:
    </h6>
  </div>
 
<div class="row bckclr">
    <div class="col-md-2 offset-md-1">
        <div class="tp-wrapper">
            <div class="tp-box" [@flipState]="flip">
              <div class="tp-box__side tp-box__front front" (mouseenter)="toggleFlip()">
                <img [src]="imageUrl1">
              </div>
                <div class="tp-box__side tp-box__back back" (mouseleave)="toggleFlip()">
                  <div>
                    <h6 text="center">Zinc plating is an established process suited to hardened steel base materials. It offers added protection to steel components against corrosion</h6>
                  </div>
                </div>
              </div>
            </div>
    </div>
    <div class="col-md-2">
        <div class="tp-wrapper">
            <div class="tp-box" [@flipState]="flip1">
              <div class="tp-box__side tp-box__front front" (mouseenter)="toggleFlip1()">
                <img [src]="imageUrl2">
              </div>
                <div class="tp-box__side tp-box__back back" (mouseleave)="toggleFlip1()">
                  <div>
                    <h6 text="center">Zinc plating is an established process suited to hardened steel base materials. It offers added protection to steel components against corrosion</h6>
                  </div>
                </div>
              </div>
            </div>
    </div>
    <div class="col-md-2">
        <div class="tp-wrapper">
            <div class="tp-box" [@flipState]="flip2">
              <div class="tp-box__side tp-box__front front" (mouseenter)="toggleFlip2()">
                <img [src]="imageUrl3">
              </div>
                <div class="tp-box__side tp-box__back back" (mouseleave)="toggleFlip2()">
                  <div>
                    <h6 text="center">Zinc plating is an established process suited to hardened steel base materials. It offers added protection to steel components against corrosion</h6>
                  </div>
                </div>
              </div>
            </div>
    </div>
    <div class="col-md-2">
        <div class="tp-wrapper">
            <div class="tp-box" [@flipState]="flip3">
              <div class="tp-box__side tp-box__front front" (mouseenter)="toggleFlip3()">
                <img [src]="imageUrl4">
              </div>
                <div class="tp-box__side tp-box__back back" (mouseleave)="toggleFlip3()">
                  <div>
                    <h6 text="center">Zinc plating is an established process suited to hardened steel base materials. It offers added protection to steel components against corrosion</h6>
                  </div>
                </div>
              </div>
            </div>
    </div>
    <div class="col-md-2">
        <div class="tp-wrapper">
            <div class="tp-box" [@flipState]="flip4">
              <div class="tp-box__side tp-box__front front" (mouseenter)="toggleFlip4()">
                <img [src]="imageUrl5">
              </div>
                <div class="tp-box__side tp-box__back back" (mouseleave)="toggleFlip4()">
                  <div>
                    <h6 text="center">Zinc plating is an established process suited to hardened steel base materials. It offers added protection to steel components against corrosion</h6>
                  </div>
                </div>
              </div>
            </div>
    </div>

</div>
<br>
<div class="row bckclr">
  <div class="col-md-6">
    <img src="/assets/img/service.jpg"></div>
</div>

</div>
