

<body>
   
 
<div class="container bckclr">
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="icon"> <i class="fas fa-map-marker-alt"></i></div>
                <div class ="content">
                    <h3>Address</h3>
                    <p>Opp.Natu Company,Ambika Nagar no-2,Road No-29,Wagle Estate,Thane-400604</p>
                </div>
            </div>
        </div>
   
        <div class="col-md-4">
            <div class="box" id="x">
                <div class="icon"> <i class="fas fa-mobile-alt"></i></div>
                <div class ="content">
                    <h3>Contact</h3>
                    <p>Prakash Bobhate:8108575261</p>
                    <p>Rajesh Bobhate:8879045576</p>
                   
                </div>
            </div>
        </div>
    
    
        <div class="col-md-4">
                <div class="box" id="y">
                    <div class="icon"> <i class="fas fa-clock"></i></div>
                    <div class ="content">
                        <h3>Timing</h3>
                        <p>Sat-Thu : 9am-6pm</p>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.911668285338!2d72.95546876437857!3d19.19906005308309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b90fd4d37aed%3A0x811c1b4a3800200d!2sAmbika%20Nagar%20No.%202%2C%20Wagle%20Industrial%20Estate%2C%20Thane%20West%2C%20Thane%2C%20Maharashtra%20400604!5e0!3m2!1sen!2sin!4v1610555416505!5m2!1sen!2sin" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>


</body> 
